.settings {
    position: fixed;
    display: flex;
    right: 0;
    margin-right: 2rem;

    &-btn {
        color: #668ad8;
        font-weight: bold;
        font-size: 2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 1px #668ad8;
        overflow: hidden;
        transform: rotate(0deg);
        transition: all ease 0.5s;

        &-close {
            color: #668ad8;
            font-weight: bold;
            font-size: 2.1rem;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: solid 1px #668ad8;
            overflow: hidden;
            transform: rotate(90deg);
            transition: all ease 0.5s;
        }

        &:hover {
            background: #b3e1ff;
        }
    }

    &-form-hidden {
        opacity: 0;
        margin-right: -200px;
        transition: all ease 0.4s;

        .settings-close {
            transform: rotate(180deg);
        }
    }

    &-form-notHidden {
        opacity: 1;
        transition: all ease 0.4s;
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
        margin-left: 1rem;

        & input[type="email"] {
            padding: 0.5rem;
            border-radius: 6px;
            border: none;
        }
        & input[type="password"] {
            padding: 0.5rem;
            border-radius: 6px;
            border: none;
        }

        & button {
            height: 40px;
            border: none;
            border-radius: 6px;
            background-color: blueviolet;
            color: #fff;
        }
    }
}
