@use 'src/styles/vars';

.message {
    border-radius: 10px;
    margin: 2rem 0;
    text-align: left;
    display: block;

    &-span {
        display: block;
        margin-left: 0.5rem;
        font-size: small;
    }
    &-body {
        display: inline-block;
        color: vars.$chatColor;
        background-color: #fff;
        width: auto;
        padding: 0.7rem 1rem;
        margin: 0.5rem 0;
        border-radius: 20px;
    }
}
